<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbellis.RobotArena"
    android:versionCode="1"
    android:versionName="1.0">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="screens.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="dragNDrop.ScriptEditor"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="screens.About"
            android:label="@string/about_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="screens.ChooseScript"
            android:label="@string/choose_scripts_text"
            android:screenOrientation="portrait" />
        <activity
            android:name="screens.ScriptLoader"
            android:label="@string/script_editor_text"
            android:screenOrientation="portrait" />
        <activity
            android:name="screens.GameOver"
            android:label="@string/game_over_text"
            android:screenOrientation="portrait" />
        <activity
            android:name="screens.Add"
            android:label="@string/add_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="screens.Help"
            android:label="@string/help_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="screens.AddFunction"
            android:label="@string/addfunction_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="screens.AddBoolean"
            android:label="@string/addboolean_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="screens.AnimatedActivity"
            android:label="@string/animatedview_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="screens.PopUp"
            android:label="@string/message_text"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="screens.RobotEditor"
            android:label="@string/robot_cust_text"
            android:screenOrientation="portrait" />
        <activity
            android:name="screens.RobotLoader"
            android:label="@string/robot_editor_text"
            android:screenOrientation="portrait" />
    </application>
</manifest> 